* {
    margin: 0;
    scroll-behavior: smooth;
}

p, h1, h4 {
    color: whitesmoke;
}


body {
    background-color: #6e73ffbd;
    background:linear-gradient(0deg, #6e73ffbd, #6e73ffbd), url(images/calculator.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);

}

a {
    text-decoration: none;
    color: whitesmoke;
}

.title-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

.menu-desktop {
    align-self: center;
    display: flex;
}

.title-wrapper h1:nth-child(2) {
    padding: 10px;
}

.content-header {
    width: 100%;
    background-color: #0008C5;
    display: flex;
    flex-direction: column;
    background-image: url("images/gb.jpg");
    background-color: #6e73ffbd;
    background:linear-gradient(0deg, #0008ffbd, #0008ffbd), url(images/gb.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(30px);
}

.logo-placeholder {
    width: 230px;
    height: 90px;
    background-color: white;
    margin: 20px;
}

.logo-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

#menu-button {
display: none;
}

.content-header-contact {
    align-self: center;
    margin: 5px;
}

.fa-solid {
    align-self: flex-end;
    padding: 20px;
    align-self: flex-start;
    margin: 12px;
}

.first-article, .second-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    text-align: justify;
}

.menu-slider {
    display: none;
    width: 100%;
    height: 300px;
    background-color: #0008C5;
    z-index:-1;
    position: relative;
}

#desktop-buttons {
    width: 25px;
    height: 40px;
    padding: 3px;
    border: 1px solid rgba(255,255,255,0.67);
    border-radius: 2px;
}

#menu-bar {
    display: none;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }
  
  #menu-bar.open {
    transform: translateY(0%);
  }

.google-maps {
    width: 95%;
    margin: 5px;
    height: 300px;
}

.mobile-buttons {
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    
    
}

footer {
    background-color: #0008C5;
    color: whitesmoke;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.css-button-sharp--sky {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border: 2px solid #4433ff;
        background: #4433ff;
        margin: 2px;
        width: 200px;
        border: 1px solid rgba(255,255,255,0.67);
        border-radius: 2px;
        margin: 2px;
}

.css-button-sharp--sky:hover {
        background: #fff;
        color: #4433ff
}


@media (max-width:1000px) {
#desktop-buttons {
    display: none;
}

#menu-button {
    display: flex;
}



}


